body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover center;
  background-image: url(https://www.goodnewsfromindonesia.id/uploads/post/large-2018-10-02-55276-1538454638-large-e57ba8c2ea87e2dd36f952e262bb3c01.jpg);
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-form {
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.208);
}
